@import "_oa";

@include font-face("icomoon", font-files("icomoon/fonts/icomoon.eot", "icomoon/fonts/icomoon.woff", "icomoon/fonts/icomoon.ttf", "icomoon/fonts/icomoon.svg"));
[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal;
  @include font-smoothing(antialiased);
}

.icon-12:before {
  content: "\e902";
}
.icon-7:before {
  content: "\e5cd";
}
.icon-5:before {
  content: "\e5dc";
}
.icon-2:before {
  content: "\e313";
}
.icon-3:before {
  content: "\e314";
}
.icon-4:before {
  content: "\e315";
}
.icon-1:before {
  content: "\e316";
}
.icon-6:before {
  content: "\e5dd";
}
.icon-13:before {
  content: "\e903";
}
.icon-11:before {
  content: "\e901";
}
.icon-10:before {
  content: "\e900";
}
.icon-8:before {
  content: "\e986";
}
.icon-9:before {
  content: "\e9ce";
}