@import "_oa";

@include font-face("icomoon", font-files("icomoon/fonts/icomoon.eot", "icomoon/fonts/icomoon.woff", "icomoon/fonts/icomoon.ttf", "icomoon/fonts/icomoon.svg"));
[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal;
  @include font-smoothing(antialiased);
}

.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}